<h1>Welcome to Word Counter</h1>
  <form action="/result">
    <div class="form-group">
       <label for="word">Enter a word to check for and then provide a sentence
       </label><br>
       <input id="word" name="word" class="form-control" type="text"><br>
       <input id="sentence" name="sentence" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
